[submodule "user/plugins/import"]
	path = user/plugins/import
	url = https://Deester4x4jr@github.com/Deester4x4jr/grav-plugin-import.git
[submodule "user/plugins/liveform"]
	path = user/plugins/liveform
	url = https://Deester4x4jr@github.com/Deester4x4jr/grav-plugin-liveform.git
