{% block header %}
    <section id="navbar">
        <div class="logo">
            <h2><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></h2>
        </div>
        <div class="user">
            <h4>Welcome{{ (user) ? user : ' dude!' }}</h4>
            <div class="bubble">
                <img src="https://lh3.googleusercontent.com/-v_tcL1JuD4E/AAAAAAAAAAI/AAAAAAAAAVI/8Lbaq9-Yj_M/photo.jpg" />
            </div>
        </div>
    </section>
{% endblock %}