/* Constrain the width */

.container {
    width: auto;
    max-width: 800px;
    padding: 0 15px;
}


/* Center the footer text */

.container .text-muted {
    margin: 20px 0;
    text-align: center;
}


/* Sticky footer styles
	   * -------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
     Margin bottom by footer height 
    margin-bottom: 60px;
}

.no-scroll {
    overflow: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Typography */


/* Tables */

table {
    width: 100%;
    border: 1px solid #f0f0f0;
    margin: 30px 0;
}

th {
    font-weight: bold;
    background: #f9f9f9;
    padding: 5px;
}

td {
    padding: 5px;
    border: 1px solid #f0f0f0;
}


/* Notice Styles */

blockquote {
    padding: 0 0 0 20px !important;
    font-size: 16px;
    color: #666;
    text-shadow: .25px .25px 0 white, 0 0 0 #000;
}

blockquote > blockquote > blockquote {
    margin: 0;
}

blockquote > blockquote > blockquote p {
    padding: 15px;
    display: block;
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 1px solid #f0f0f0;
}

blockquote > blockquote > blockquote > p {
    /* Yellow */
    margin-left: -75px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

blockquote > blockquote > blockquote > blockquote > p {
    /* Red */
    margin-left: -100px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

blockquote > blockquote > blockquote > blockquote > blockquote > p {
    /* Blue */
    margin-left: -125px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p {
    /* Green */
    margin-left: -150px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* ============= */
/* Added by Josh */
/* ============= */

/* Mods for form controls */

.pure-form-aligned .pure-control-group label {
    vertical-align: top;
    padding-top: .25rem;
}

.pure-form-aligned .pure-radio-control-group,
.pure-form-aligned .pure-checkbox-control-group {
    display: inline-block;
    vertical-align: top;
}

.pure-form-aligned .pure-radio-control-group .pure-radio,
.pure-form-aligned .pure-checkbox-control-group .pure-checkbox {
    text-align: left;
    display: block;
    margin-bottom: .5rem;
}

.pure-form-aligned .pure-radio-control-group .pure-radio input,
.pure-form-aligned .pure-checkbox-control-group .pure-checkbox input {
    line-height: normal;
    vertical-align: baseline;
    margin-right: .5rem;
}

.pure-form-aligned .pure-form-select-wrapper {
    display: inline-block;
    position: relative;
}

/* Form phone number validation styles */

.phone-input {
    display: inline-block;
    position: relative;
}

.phone-input input[type='tel'] {
    padding-left: 3.5rem;
}

.phone-input .phone-flag-selector {
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    cursor: pointer;
}

.phone-input .phone-flag-container {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 2.5rem;
    padding: 0 0 0 .5rem;
}

.phone-input .phone-flag-container:hover/*,
.phone-input .country-list .country:hover*/ {
    background: rgba(185, 185, 185, 0.125);
}

.phone-flag-container .flag-icon,
.flag-box .flag-icon {
    background-image: url('../images/flags%402x.png');
    background-size: 5630px 15px;
    background-repeat: no-repeat;
    width: 20px;
    box-shadow: 0 0 .25rem rgba(0,0,0,0.25);
}

.phone-flag-container .flag-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.flag-box {
    display: inline-block;
}

.phone-flag-selector ul.country-list {
    list-style: none;
    position: absolute;
    z-index: 2;
    padding: 0;
    margin: -.25rem 0 0 0;
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    box-shadow: .25rem .25rem 1rem rgba(0,0,0,0.125);
}

ul.country-list .country {
    padding: .5rem 5rem .5rem .5rem;
}

.phone-flag-selector ul.country-list .country:hover {
    box-shadow: 0 0 1rem rgba(0,0,0,0.25);
}

.phone-flag-selector ul.country-list .country .flag-box,
.phone-flag-selector ul.country-list .country .country-name {
    margin-right: 6px;
}

.phone-flag-selector ul.country-list .country .dial-code {
    color: #999;
}

.phone-flag-selector ul.country-list .country .flag-box,
.phone-flag-selector ul.country-list .country .country-name,
.phone-flag-selector ul.country-list .country .dial-code {
    vertical-align: middle;
}

.flag-icon.us {
    height: 11px;
    background-position: -5241px 0px;
}

.flag-icon.gb {
    height: 10px;
    background-position: -1775px 0px;
}

.flag-icon.in {
    height: 14px;
    background-position: -2413px 0px;
}

.flag-icon.nl {
    height: 14px;
    background-position: -3752px 0px;
}

.flag-icon.de {
    height: 12px;
    background-position: -1269px 0px;
}

.flag-icon.at {
    height: 14px;
    background-position: -264px 0px;
}

.flag-icon.ru {
    height: 14px;
    background-position: -4295px 0px;
}

.flag-icon.jp {
    height: 14px;
    background-position: -2611px 0px;
}

.flag-icon.cn {
    height: 14px;
    background-position: -1049px 0px;
}

.flag-icon.kr {
    height: 14px;
    background-position: -2787px 0px;
}

.flag-icon.be {
    width: 18px;
    height: 15px;
    background-position: -440px 0px;
}

.flag-icon.sg {
    height: 14px;
    background-position: -4449px 0px;
}

.phone-flag-container .flag-arrow {
    position: absolute;
    top: 50%;
    margin-top: -.125rem;
    right: .5rem;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555;
    cursor: pointer;
}

/* Site Body Styling */

.siteBody {
    background: #fdfdfd;
    margin: 0;
    padding: 50px;
}

/* Main Body Container */

#body {
    padding: 3rem 0 11rem 0;
    text-shadow: .5px .5px .5px white, 1px 4px 6px #f8f8f8, 0 0 0 #000, 1px 4px 6px #f8f8f8, .25px .25px 0 white;
    color: rgba(0,0,0,0.65);
    margin: 0 auto;
}

/* HEADER STYLES */

#header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
}

#header a {
    text-decoration: none;
    color: #f4f4f4;
}

#navbar {
    position: relative;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 4px 4px 12px -6px rgba(0,0,0,0.75);
}

#navbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -2rem;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FFFFFF 15%, rgba(255,255,255,0) 100%);  /* IE10+ */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 15%, rgba(255,255,255,0) 100%);  /* Mozilla Firefox */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #FFFFFF 15%, rgba(255,255,255,0) 100%);  /* Opera */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(15, #FFFFFF), color-stop(100, rgba(255,255,255,0)));  /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 15%, rgba(255,255,255,0) 100%);  /* Webkit (Chrome 11+) */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 15%, rgba(255,255,255,0) 100%);  /* W3C Markup */
}

.logo {
    display: inline-block;
    position: relative;
    /*padding: .5rem 1rem;
    padding-right: 0;*/
    margin: 0;
    margin-bottom: -.25rem;
    text-align: left;
    z-index: 1;
}

.logo:before/*,
.logo:after*/ {
    position: absolute;
    content: '';
    height: 97%;
    top: 0;
    z-index: -2;
}

.logo:before {
    background-color: rgba(28, 94, 161, 0.7);
    left: 0;
    right: -1.75rem;
    transform: skewX(-25deg);
}

.logo h2 {
    display: inline-block;
    position: relative;
    padding: .5rem 1rem;
    padding-right: 0;
    margin: 0;
    text-transform: lowercase;
    font-size: 2rem;
    text-shadow: .125rem .125rem .25rem rgba(0,0,0,0.75);
}

.logo h2:before,
.logo h2:after {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    content: '';
    background-image: -ms-linear-gradient(top, #383838 0%, #1b1b1b 100%);  /* IE10+ */
    background-image: -moz-linear-gradient(top, #383838 0%, #1b1b1b 100%);  /* Mozilla Firefox */
    background-image: -o-linear-gradient(top, #383838 0%, #1b1b1b 100%);  /* Opera */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #383838), color-stop(100, #1b1b1b));  /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-linear-gradient(top, #383838 0%, #1b1b1b 100%);  /* Webkit (Chrome 11+) */
    background-image: linear-gradient(to bottom, #383838 0%, #1b1b1b 100%);  /* W3C Markup */
    z-index: -1;
}

.logo h2:before {
    width: 100%;
    left: 0;
}

.logo h2:after {
    width: 60%;
    left: 50%;
    transform: skewX(-25deg);
    transform-origin: 0 100%;
}

.logo:before,
.logo h2:before,
.logo h2:after {
    box-shadow: 2px 4px 12px -6px rgba(0,0,0,0.25);
}

/* User Bubble Style */

.user {
    position: relative;
    z-index: 10;
    margin-top: 5px;
    margin-right: 10vw;
    display: inline-block;
    float: right;
}

.user div,
.user h4 {
    display: inline-block;
}

.user h4 {
    vertical-align: top;
    line-height: 1px;
    padding-right: 1rem;
}

.bubble {
    cursor: pointer;
    border-radius: 150px;
    background: #fff;
    overflow: hidden;
    padding: 10px;
    border: 3px solid#3576b7;
}

.bubble img {
    height: 2.5rem;
    opacity: 0.5;
}

#coolMenu {
    color: #f4f4f4;
    text-transform: uppercase;
    display: block;
    position: fixed;
    left: -16rem;
    margin: 5rem 0 0 2rem;
    box-shadow: .75rem .75rem 2rem -0.75rem rgba(0, 0, 0, 0.5);
    z-index: 20;
    transition: all 0.3s;
    /*overflow: scroll;*/
}

#coolMenu.is-open {
    left: 0;
}

#coolMenu:before {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#coolMenu ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    -webkit-padding-start: 0;
}

#coolMenu li {
    padding: 20px;
    border-bottom: 1px solid rgba(115, 115, 115, 0.15);
    background: #252525;
}

#coolMenu li.active {
    background: rgba(37, 37, 37, 0.9);
}

#coolMenu li,
#coolMenu li a {
    text-decoration: none;
    color: #f4f4f4;
    text-shadow: 2px 2px 3px black;
}

#coolMenu .berger {
    display: block;
    opacity: 0.5;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 48px;
    font-size: 0;
    text-indent: -9999px;
    box-shadow: none;
    border: none;
    background: transparent;
    cursor: pointer;
    top: 0;
    right: -7.5rem;
    transition: all 0.3s;
}

#coolMenu .berger.is-open {
    width: 20%;
    right: -4rem;
}

#coolMenu .berger:hover,
#coolMenu .berger.is-open {
    opacity: 1;
}

#coolMenu .berger.is-open:hover {
    transform: rotate(270deg);
}

#coolMenu .berger:focus {
    outline: none;
}

#coolMenu .berger span {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 8px;
    background: #3576b7;
    transition: background 0s 0.3s;
}

#coolMenu .berger span:before,
#coolMenu .berger span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #3576b7;
    content: "";
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

#coolMenu .berger span:before {
    top: -20px;
    transition-property: top, transform;
}

#coolMenu .berger span:after {
    bottom: -20px;
    transition-property: bottom, transform;
}

/* open state, i.e. menu open */

#coolMenu .berger.is-open span {
    background: none;
}

#coolMenu .berger.is-open span:before {
    top: 0;
    transform: rotate(45deg);
}

#coolMenu .berger.is-open span:after {
    bottom: 0;
    transform: rotate(-45deg);
}

#coolMenu .berger.is-open span:before,
#coolMenu .berger.is-open span:after {
    transition-delay: 0s, 0.3s;
}

/* when using this, set opacity of .siteBody to 0.3 and overflow of body to hidden */
.blocking {
    position: fixed;
    pointer-event: none;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.85);
    height: 100vh;
    width: 100vw;
    z-index: 15
}