/*Custom CSS for the myRepo Theme*/

/*To Top Button Style*/
/*.totop {
    position: absolute;
    bottom: 10px;
    padding-left: 50%;
    z-index: 99999;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    overflow: visible;
    cursor: pointer;
    opacity: .5;
}

.totop i {
    margin-left: -50%;
}*/

/*Modal Overwrites*/
.blocker {
    z-index: 11000 !Important;
}

.modal {
    z-index: 12000 !Important;
}

/*Header Styles*/
h3 {
    margin-top: 4rem;
    border-bottom: 4px solid #f0f2f4;
}

/*Styles for Anchors*/
.anchorjs-link {
  transition: all .25s linear;
  line-height: inherit !Important;
}

*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
}

/*Various Styles*/
p {
    margin-top: 0.5rem;
}

.nomargins {
    margin: 0;
}

.nopadding {
    padding: 0;
}

.indented {
    margin-left: 2rem !Important;
}

.thumbStrip img {
    margin: 0 !Important;
    padding: 0 1rem !Important;
    max-height: 150px;
    display: inline-block;
}

.left {
    text-align: left;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.narrow {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*Form Styles*/
.pure-form {
    width: 75%;
    margin: 0 auto;
}

.pure-form fieldset {
    border: none;
}

.pure-form .buttons {
    text-align: center;
}


/*Button Styles*/
.button {
    border-radius: 150px;
    padding: 7px 20px;
    margin: 0 0.5rem;
}

.button:active {
        margin: 2px 0.5rem -2px 0.5rem;
}

.button.good {
    background-color: #16CA94;
    box-shadow: 0 3px 0 #13AE62;
}

.button.soso {
    background-color: #FFB65B;
    box-shadow: 0 3px 0 #FFA75B;
}

.button.bad {
    background-color: #FF5B5B;
    box-shadow: 0 3px 0 #E04E4E;
}

.button.good:hover {
    background-color: #12AF80;
    box-shadow: 0 3px 0 #0F884C;
}

.button.soso:hover {
    background-color: #FFA75B;
    box-shadow: 0 3px 0 #FF905B;
}

.button.bad:hover {
    background-color: #E45050;
    box-shadow: 0 3px 0 #CA4545;
}



/* Form phone number validation styles */

.phone-input {
    display: inline-block;
    position: relative;
}

.phone-input input[type='tel'] {
    padding-left: 3.5rem;
}

.phone-input .phone-flag-selector {
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    cursor: pointer;
}

.phone-input .phone-flag-container {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 2.5rem;
    padding: 0 0 0 .5rem;
}

.phone-input .phone-flag-container:hover/*,
.phone-input .country-list .country:hover*/ {
    background: rgba(185, 185, 185, 0.125);
}

.phone-flag-container .flag-icon,
.flag-box .flag-icon {
    background-image: url('../images/flags%402x.png');
    background-size: 5630px 15px;
    background-repeat: no-repeat;
    width: 20px;
    box-shadow: 0 0 .25rem rgba(0,0,0,0.25);
}

.phone-flag-container .flag-icon {
    position: absolute;
    top: -13%;
    bottom: 0;
    margin: 50% 0;
    margin-bottom: 0;
}

.flag-box {
    display: inline-block;
}

.phone-flag-selector ul.country-list {
    list-style: none;
    position: absolute;
    z-index: 2;
    padding: 0;
    margin: -.25rem 0 0 0;
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    box-shadow: .25rem .25rem 1rem rgba(0,0,0,0.125);
}

ul.country-list .country {
    padding: .5rem 5rem .5rem .5rem;
}

.phone-flag-selector ul.country-list .country:hover {
    box-shadow: 0 0 1rem rgba(0,0,0,0.25);
}

.phone-flag-selector ul.country-list .country .flag-box,
.phone-flag-selector ul.country-list .country .country-name {
    margin-right: 6px;
}

.phone-flag-selector ul.country-list .country .dial-code {
    color: #999;
}

.phone-flag-selector ul.country-list .country .flag-box,
.phone-flag-selector ul.country-list .country .country-name,
.phone-flag-selector ul.country-list .country .dial-code {
    vertical-align: middle;
}

.flag-icon.us {
    height: 11px;
    background-position: -5241px 0px;
}

.flag-icon.gb {
    height: 10px;
    background-position: -1775px 0px;
}

.flag-icon.in {
    height: 14px;
    background-position: -2413px 0px;
}

.flag-icon.nl {
    height: 14px;
    background-position: -3752px 0px;
}

.flag-icon.de {
    height: 12px;
    background-position: -1269px 0px;
}

.flag-icon.at {
    height: 14px;
    background-position: -264px 0px;
}

.flag-icon.ru {
    height: 14px;
    background-position: -4295px 0px;
}

.flag-icon.jp {
    height: 14px;
    background-position: -2611px 0px;
}

.flag-icon.cn {
    height: 14px;
    background-position: -1049px 0px;
}

.flag-icon.kr {
    height: 14px;
    background-position: -2787px 0px;
}

.flag-icon.be {
    width: 18px;
    height: 15px;
    background-position: -440px 0px;
}

.flag-icon.sg {
    height: 14px;
    background-position: -4449px 0px;
}

.phone-flag-container .flag-arrow {
    position: absolute;
    top: 50%;
    margin-top: -20%;
    right: -.25rem;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #555;
    cursor: pointer;
}